<launch>
	<node pkg="lab2" name="doblar" type="doblar.py"/>
	<node pkg="lab2" name="wall_detector" type="wall_detector.py" />
	<node pkg="lab2" name="camera_filter" type="camera_filter.py" />
	<node pkg="lab2" name="controlador_reactivo" type="controlador_reactivo.py" />
	<node pkg="lab2" name="process_objects" type="process_objects.py" />
</launch>
